@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* * {
    margin: 0;
} */

body {
    margin-inline: 50px;
    font-family: 'Outfit', sans-serif;
}

header {
    background-color: whitesmoke;
    border: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header ul {
    display: flex;
    /* justify-content: space-between; */
}

#logo {
    font-size: medium;
}

main {
    display: flex;
}

a {
    text-decoration: none;
    margin-inline: 5px;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: wavy;
    text-decoration-color: cadetblue;
}

#intro {
    margin-inline: 10px;
}

h4 {
    color:blue;
}

.bold-text {
    font-weight: bold;
}

.position {
    font-weight: bold;
}

.details {
    color: #3c3c3c;
    font-weight: bold;
}

.work-time {
    font-weight: bolder;
    text-transform: uppercase;
}

.footer-links {
    display: flex;
    align-content: space-between;
    /* justify-content: space-around; */
}

.card {
    margin-inline: 10px;
    padding: 10px;
}
